

// #HEADER

.header {
	background: transparent;
	

	@include transition(color $fast, background $fast);

	&.header--with_background {
		color: $primary;
		background: fade-out($white, 0.1);
	}
}

	.header__inner {
		padding: $gutter $gutter*2 $gutter/2;
	}

	



