

// #HEADER

.header {
	background: transparent;
	padding-top: $gutter !important;
	padding-bottom: $gutter/2 !important;

	@include transition(color $fast, background $fast);

	&.header--with_background {
		color: $primary;
		background: fade-out($white, 0.1);
	}
}

	



