
{% extends "layout.html" %}

{% block body_classes %}camion{% endblock %}

{% block header_links %}
<div class="col"><a href="/" class="nav__link a--thick_line">Barbershops</a></div>
<div class="col"><a href="/camion" class="nav__link a--thick_line">Camion</a></div>
<div class="col"><a href="#contact" data-scroll-to="contact" class="nav__link a--thick_line">Contact</a></div>
{% endblock %}

{% block main %}

<section class="slider black_back" data-slider data-current-slide=0>
	<div data-piece-id="{{pieces.index._id}}">
		<div class="slider__container" data-slider-container data-slides-key="slides" data-slides-cdn="">
			<div class="slide" data-slide=0>
				<div class="grid grid--full_height grid--middle image_back" data-slide-content data-slide-background style="background-image:url({{pieces.camion.slides[0].image|replace('https://d3hy1swj29dtr7.cloudfront.net/uploads', 'https://saturdays.imgix.net')|replace('https://monthlybarber.com/build', 'https://saturdays.imgix.net')}}?format=auto,compress&h=931&w=1400)">
					<h1 class="col col--12of12 text_center h1--alternate"><span data-slide-title>{{pieces.camion.slides[0].title}}</span><span data-piece-admin></span></h1>
				</div>
			</div>

			<span data-slide-admin></span>
		</div>
	</div>
	<div class="slider__markers slider__markers--on_top padded padded--thick" data-piece-id="{{pieces.camion._id}}" id="camion">
		<div class="grid grid--guttered grid--center">
			<div class="col col--3of12 col--small--6of12">
				<h4 class=""><span data-key="camion">{{pieces.camion.camion}}</span></h4>
				{# <p><a href="{{pieces.reservations.barber_1_address_link}}" data-link-key="barber_1_address_link"><span data-key="barber_1_address">{{pieces.reservations.barber_1_address}}</span></a></p> #}

				<button data-show-resurva="https://monthlybarbertruck.resurva.com/book?embedded=true" data-click-event="barbertruck">Réservez le camion</button>
			</div>
		</div>

		<span data-piece-admin></span>
	</div>
</section>


<section class="padded padded--very_thick text_right" data-piece-id="{{pieces.camion._id}}">
	<h2 data-key="description">
		{{pieces.camion.description|safe}}
	</h2>

	<span data-piece-admin></span>
</section>

<div id="overlay" class="overlay overlay--full">
	<a href="#" class="overlay__back js-hide"></a>
	<div class="overlay__container">
		<a href="#" class="overlay__close js-hide">✕</a>
		<iframe src="" name="resurva-frame" frameborder="0" height="450px" width="100%"></iframe>
	</div>
</div>
{% endblock %}


