
{% extends "layout.html" %}

{% block body_classes %}index{% endblock %}


{% block main %}
<section class="slider black_back" data-slider data-current-slide=2>
	<div data-piece-id="{{pieces.index._id}}">
		<div class="slider__container" data-slider-container data-slides-key="months">
			{% for slide in pieces.index.months %}
			<div class="slide" data-slide={{loop.index0}}>
				<div class="grid grid--full_height grid--middle image_back" data-slide-content data-slide-image style="background-image:url(https://res.cloudinary.com/deming/image/fetch/c_fill,f_auto,g_auto,h_931,q_auto,w_1400/{{slide.image}})">
					<h1 class="col col--12of12 text_center h1--alternate hide_on_small"><span data-slide-title>{{slide.title}}</span><span data-piece-admin></span></h1>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>

	<button class="button--transparent slider__button" data-previous-slide-button><svg class="icon-left icon--small"><use xlink:href="/build/images/icons.svg#icon-left"></use></svg><svg class="icon-left icon--small"><use xlink:href="/build/images/icons.svg#icon-left"></use></svg></button>

	<button class="button--transparent slider__button slider__button--right" data-next-slide-button><svg class="icon-right icon--small"><use xlink:href="/build/images/icons.svg#icon-right"></use></svg><svg class="icon-right icon--small"><use xlink:href="/build/images/icons.svg#icon-right"></use></svg></button>

	<div class="slider__markers slider__markers--on_top padded padded--thick" data-piece-id="{{pieces.reservations._id}}" id="reservations">
		<div class="grid grid--guttered">
			<div class="col col--3of12 col--small--6of12">
				<h4 class="flat_bottom"><span data-key="barber_1">{{pieces.reservations.barber_1}}</span></h4>
				<p><a href="{{pieces.reservations.barber_1_address_link}}" data-link-key="barber_1_address_link"><span data-key="barber_1_address">{{pieces.reservations.barber_1_address}}</span></a></p>
				<button data-show-setster="1">Prendre rendez-vous</button>
				<div data-hidden-key="barber_1_locations"></div>
				<div data-hidden-key="barber_1_providers"></div>
			</div>

			<div class="col col--3of12 col--small--6of12">
				<h4 class="flat_bottom"><span data-key="barber_2">{{pieces.reservations.barber_2}}</span></h4>
				<p><a href="{{pieces.reservations.barber_2_address_link}}" data-link-key="barber_2_address_link"><span data-key="barber_2_address">{{pieces.reservations.barber_2_address}}</span></a></p>
				<button data-show-setster="2">Prendre rendez-vous</button>
				<div data-hidden-key="barber_2_locations"></div>
				<div data-hidden-key="barber_2_providers"></div>
			</div>

			<div class="col col--3of12 col--small--6of12">
				<h4 class="flat_bottom"><span data-key="barber_3">{{pieces.reservations.barber_3}}</span></h4>
				<p><a href="{{pieces.reservations.barber_3_address_link}}" data-link-key="barber_3_address_link"><span data-key="barber_3_address">{{pieces.reservations.barber_3_address}}</span></a></p>
				<button data-show-setster="3">Prendre rendez-vous</button>
				<div data-hidden-key="barber_3_locations"></div>
				<div data-hidden-key="barber_3_providers"></div>
			</div>

			<div class="col col--3of12 col--small--6of12">
				<h4 class="flat_bottom"><span data-key="barber_4">{{pieces.reservations.barber_4}}</span></h4>
				<p><a href="{{pieces.reservations.barber_4_address_link}}" data-link-key="barber_4_address_link"><span data-key="barber_4_address">{{pieces.reservations.barber_4_address}}</span></a></p>
				<a id="Setmore_button_iframe" href="https://my.setmore.com/bookingpage/{{pieces.reservations.barber_4_setmore_id}}" class="button">Prendre rendez-vous</a>
				<div data-hidden-key="barber_4_setmore_id"></div>
			</div>
		</div>

		<span data-piece-admin></span>
	</div>
</section>

<section class="padded padded--very_thick text_right" data-piece-id="{{pieces.metadata._id}}">
	<h2 data-key="description">
		{{pieces.metadata.description|safe}}
	</h2>

	<span data-piece-admin></span>
</section>

<section class="padded padded--thick" id="salons" data-piece-id="{{pieces.salons._id}}">
	<div class="grid grid--guttered">
		<div class="col col--5of12 col--medium--6of12 col--small--12of12">
			<h5 class="flat_bottom">{{pieces.reservations.barber_1}}</h5>
			<p><a href="{{pieces.reservations.barber_1_address_link}}">{{pieces.reservations.barber_1_address}}</a></p>
			<figure class="slider" data-slider>
				<div class="slider__container" data-slider-container data-slides-key="slides_1">
					{% for slide in pieces.salons.slides_1 %}
					<div class="slide" data-slide={{loop.index0}}>
						 <div data-slide-content><img data-slide-image src="https://res.cloudinary.com/deming/image/fetch/q_auto,w_750/{{slide.image}}"></div>
					</div>
					{% endfor %}
				</div>

				<button class="button--transparent slider__button" data-previous-slide-button><svg class="icon-left icon--small"><use xlink:href="/build/images/icons.svg#icon-left"></use></svg><svg class="icon-left icon--small"><use xlink:href="/build/images/icons.svg#icon-left"></use></svg></button>

			    <button class="button--transparent slider__button slider__button--right" data-next-slide-button><svg class="icon-right icon--small"><use xlink:href="/build/images/icons.svg#icon-right"></use></svg><svg class="icon-right icon--small"><use xlink:href="/build/images/icons.svg#icon-right"></use></svg></button>

			    <div class="slider__markers">
			    	{% for slide in pieces.salons.slides_1 %}
			      	<button class="slider__marker {% if loop.first %}slider__marker--active{% endif %}" data-slide-marker={{loop.index0}}>{{loop.index0}}</button>
			      	{% endfor %}
			    </div>
			</figure>
		</div>

		<div class="col col--2of12 hide_on_medium"></div>

		<div class="col col--5of12 col--medium--6of12 col--small--12of12">
			<h5 class="flat_bottom">{{pieces.reservations.barber_2}}</h5>
			<p><a href="{{pieces.reservations.barber_2_address_link}}">{{pieces.reservations.barber_2_address}}</a></p>
			<figure class="slider" data-slider>
				<div class="slider__container" data-slider-container data-slides-key="slides_2">
					{% for slide in pieces.salons.slides_2 %}
					<div class="slide" data-slide={{loop.index0}}>
						 <div data-slide-content><img data-slide-image src="https://res.cloudinary.com/deming/image/fetch/q_auto,w_750/{{slide.image}}"></div>
					</div>
					{% endfor %}
				</div>

				<button class="button--transparent slider__button" data-previous-slide-button><svg class="icon-left icon--small"><use xlink:href="/build/images/icons.svg#icon-left"></use></svg><svg class="icon-left icon--small"><use xlink:href="/build/images/icons.svg#icon-left"></use></svg></button>

			    <button class="button--transparent slider__button slider__button--right" data-next-slide-button><svg class="icon-right icon--small"><use xlink:href="/build/images/icons.svg#icon-right"></use></svg><svg class="icon-right icon--small"><use xlink:href="/build/images/icons.svg#icon-right"></use></svg></button>

			    <div class="slider__markers">
			    	{% for slide in pieces.salons.slides_2 %}
			      	<button class="slider__marker {% if loop.first %}slider__marker--active{% endif %}" data-slide-marker={{loop.index0}}>{{loop.index0}}</button>
			      	{% endfor %}
			    </div>
			</figure>
		</div>

		<div class="col col--5of12 hide_on_medium"></div>

		<div class="col col--5of12 col--medium--6of12 col--small--12of12">
			<h5 class="flat_bottom">{{pieces.reservations.barber_3}}</h5>
			<p><a href="{{pieces.reservations.barber_3_address_link}}">{{pieces.reservations.barber_3_address}}</a></p>
			<figure class="slider" data-slider>
				<div class="slider__container" data-slider-container data-slides-key="slides_3">
					{% for slide in pieces.salons.slides_3 %}
					<div class="slide" data-slide={{loop.index0}}>
						 <div data-slide-content><img data-slide-image src="https://res.cloudinary.com/deming/image/fetch/q_auto,w_750/{{slide.image}}"></div>
					</div>
					{% endfor %}
				</div>

				<button class="button--transparent slider__button" data-previous-slide-button><svg class="icon-left icon--small"><use xlink:href="/build/images/icons.svg#icon-left"></use></svg><svg class="icon-left icon--small"><use xlink:href="/build/images/icons.svg#icon-left"></use></svg></button>

			    <button class="button--transparent slider__button slider__button--right" data-next-slide-button><svg class="icon-right icon--small"><use xlink:href="/build/images/icons.svg#icon-right"></use></svg><svg class="icon-right icon--small"><use xlink:href="/build/images/icons.svg#icon-right"></use></svg></button>

			    <div class="slider__markers">
			    	{% for slide in pieces.salons.slides_3 %}
			      	<button class="slider__marker {% if loop.first %}slider__marker--active{% endif %}" data-slide-marker={{loop.index0}}>{{loop.index0}}</button>
			      	{% endfor %}
			    </div>
			</figure>
		</div>

		<div class="col col--2of12 hide_on_medium"></div>

		<div class="col col--5of12 col--medium--6of12 col--small--12of12">
			<h5 class="flat_bottom">{{pieces.reservations.barber_4}}</h5>
			<p><a href="{{pieces.reservations.barber_4_address_link}}">{{pieces.reservations.barber_4_address}}</a></p>
			<figure class="slider" data-slider>
				<div class="slider__container" data-slider-container data-slides-key="slides_4">
					{% for slide in pieces.salons.slides_4 %}
					<div class="slide" data-slide={{loop.index0}}>
						 <div data-slide-content><img data-slide-image src="https://res.cloudinary.com/deming/image/fetch/q_auto,w_750/{{slide.image}}"></div>
					</div>
					{% endfor %}
				</div>

				<button class="button--transparent slider__button" data-previous-slide-button><svg class="icon-left icon--small"><use xlink:href="/build/images/icons.svg#icon-left"></use></svg><svg class="icon-left icon--small"><use xlink:href="/build/images/icons.svg#icon-left"></use></svg></button>

			    <button class="button--transparent slider__button slider__button--right" data-next-slide-button><svg class="icon-right icon--small"><use xlink:href="/build/images/icons.svg#icon-right"></use></svg><svg class="icon-right icon--small"><use xlink:href="/build/images/icons.svg#icon-right"></use></svg></button>

			    <div class="slider__markers">
			    	{% for slide in pieces.salons.slides_4 %}
			      	<button class="slider__marker {% if loop.first %}slider__marker--active{% endif %}" data-slide-marker={{loop.index0}}>{{loop.index0}}</button>
			      	{% endfor %}
			    </div>
			</figure>
		</div>
	</div>
</section>
{% endblock %}








{% block scripts %}

<script type="text/javascript" src="https://my.setmore.com/js/iframe/setmore_iframe.js" async></script>



<!-- Begin Setster Widget -->
<script type="text/javascript" charset="utf-8">
var is_ssl = ("https:" == document.location.protocol);
var setsHost = is_ssl ? "https://www.setster.com/widget/" : "http://www.setster.com/widget/";
document.write(unescape("%3Cscript src='" + setsHost + "js/setster_over.js?v=2' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript" charset="utf-8">
window.setster_1_options = {};
setster_1_options.display = "overlay";
setster_1_options.displayMode = "web";
setster_1_options.uri = "frankandoak";
setster_1_options.placement = "hidden";
setster_1_options.buttonName = "appointment";
setster_1_options.locationsMap = 1;
setster_1_options.defaultProvider = "{{pieces.reservations.barber_1_providers}}";  
setster_1_options.defaultLocation = "{{pieces.reservations.barber_1_locations}}";  
setster_1_options.setsterURL = setsHost; 
window.setster_1 = new Setster.setster_widget(setster_1_options);

window.setster_2_options = {};
setster_2_options.display = "overlay";
setster_2_options.displayMode = "web";
setster_2_options.uri = "frankandoak";
setster_2_options.placement = "hidden";
setster_2_options.buttonName = "appointment";
setster_2_options.locationsMap = 1;
setster_2_options.defaultProvider = "{{pieces.reservations.barber_2_providers}}";
setster_2_options.defaultLocation = "{{pieces.reservations.barber_2_locations}}";
setster_2_options.setsterURL = setsHost;
window.setster_2 = new Setster.setster_widget(setster_2_options);

window.setster_3_options = {};
setster_3_options.display = "overlay";
setster_3_options.displayMode = "web";
setster_3_options.uri = "frankandoak";
setster_3_options.placement = "hidden";
setster_3_options.buttonName = "appointment";
setster_3_options.locationsMap = 1;
setster_3_options.defaultProvider = "{{pieces.reservations.barber_3_providers}}";
setster_3_options.defaultLocation = "{{pieces.reservations.barber_3_locations}}";
setster_3_options.setsterURL = setsHost;
window.setster_3 = new Setster.setster_widget(setster_3_options);
</script>
<!-- End Setster Widget -->
{% endblock %}


