<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="Accept-CH" content="DPR,Width,Viewport-Width">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>
        {% block title %}
            {{pieces.metadata.title|striptags}}
        {% endblock %}
        </title>
        <meta name="description" content="{% block description %}{{pieces.metadata.description|striptags}}{% endblock %}">


        <meta name="twitter:card" value="summary">
        <meta property="og:title" content="{% block og_title %}{{pieces.metadata.title|striptags}}{% endblock %}">
        <meta property="og:type" content="website"/>
        <meta property="og:description" content="{% block og_description %}{{pieces.metadata.description}}{% endblock %}">
        <meta property="og:site_name" content="{{pieces.metadata.title|striptags}}">
        <meta name="google-site-verification" content="21vsvMQR090XR9Wl5THJfrnHDeR8h0vIEzwNRAMaabA" />
        <meta name="google-site-verification" content="UDHJspxccNhFuCSIZx1GPXpifYvDEIlH05t_mJNzs-Q" />


        <link rel="shortcut icon" href="/build/images/favicon.png" type="image/x-icon"/>


        <link rel="dns-prefetch" href="//cdn.jsdelivr.net">
        <link rel="dns-prefetch" href="//fonts.googleapis.com">


        <link href="/build/all.css" rel="stylesheet" type="text/css">
    </head>


    <body class="{{lang}} {% block body_classes %}{% endblock %}">



        <header class="header white" id="header">
            {% block header %}
            <div class="small_only">
                <a href="/"><h1 class="h1--small text_center">{{pieces.metadata.title}}</h1></a>
            </div>

            <div class="grid grid--spaced grid--middle header__inner max_width hide_on_small">
                <div>
                    <a href="/"><h1 class="h1--small">{{pieces.metadata.title}}</h1></a>
                </div>

                <nav class="grid grid--thick_guttered">
                    {% block header_links %}
                    <div class="col"><a href="/#reservations" data-scroll-to="reservations" class="nav__link a--thick_line">Réservations</a></div>
                    <div class="col"><a href="/#products" data-scroll-to="products" class="nav__link a--thick_line">Produits</a></div>
                    {# <div class="col"><a href="/#salons" data-scroll-to="salons" class="nav__link a--thick_line">Salons</a></div> #}
                    <div class="col"><a href="/app" class="nav__link a--thick_line">App</a></div>
                    <!-- <div class="col"><a href="/camion" class="nav__link a--thick_line">Camion</a></div> -->
                    <div class="col"><a href="#contact" data-scroll-to="contact" class="nav__link a--thick_line">Contact</a></div>
                    {% endblock %}

                    <span data-piece-admin></span>
                </nav>
            </div>
            {% endblock %}
        </header>



        <div class="main" role="main">
            {% block main %}{% endblock %}
        </div>


        


        <div id="admin"></div>



        <footer class="footer padded padded--thick" id="footer">
            {% block footer %}
            <nav class="grid grid--guttered grid--bottom" id="contact" data-piece-id="{{pieces.contact._id}}">
                <div class="col col--3of12 col--medium--6of12 col--small--12of12">
                    <h5 class="medium_bottom">Adresses</h5>
                    <p>
                        <a href="{{pieces.reservations.barber_1_address_link}}"><span class="alternate">{{pieces.reservations.barber_1}}.</span> {{pieces.reservations.barber_1_address}}</a><br>
                        <!-- <a href="{{pieces.reservations.barber_2_address_link}}"><span class="alternate">{{pieces.reservations.barber_2}}.</span> {{pieces.reservations.barber_2_address}}</a><br> -->
                        <a href="{{pieces.reservations.barber_4_address_link}}"><span class="alternate">{{pieces.reservations.barber_4}}.</span> {{pieces.reservations.barber_4_address}}</a><br>
                        <!-- <a href="{{pieces.reservations.barber_3_address_link}}"><span class="alternate">{{pieces.reservations.barber_3}}.</span> {{pieces.reservations.barber_3_address}}</a><br> -->
                    </p>

                    <hr>
                </div>

                <div class="col col--3of12 col--medium--6of12 col--small--12of12">
                    <h5 class="medium_bottom">Téléphone</h5>
                    <p>
                        <a href="tel:{{pieces.contact.barber_1_telephone}}"><span class="alternate">{{pieces.reservations.barber_1}}.</span> <span data-key="barber_1_telephone">{{pieces.contact.barber_1_telephone}}</a></span><br>
                        <!-- <a href="tel:{{pieces.contact.barber_2_telephone}}"><span class="alternate">{{pieces.reservations.barber_2}}.</span> <span data-key="barber_2_telephone">{{pieces.contact.barber_2_telephone}}</a></span><br> -->
                        <a href="tel:{{pieces.contact.barber_4_telephone}}"><span class="alternate">{{pieces.reservations.barber_4}}.</span> <span data-key="barber_4_telephone">{{pieces.contact.barber_4_telephone}}</a></span><br>
                        <!-- <a href="tel:{{pieces.contact.barber_3_telephone}}"><span class="alternate">{{pieces.reservations.barber_3}}.</span> <span data-key="barber_3_telephone">{{pieces.contact.barber_3_telephone}}</a></span><br> -->
                    </p>

                    <hr>
                </div>

                <div class="col col--3of12 col--medium--6of12 col--small--12of12">
                    <h5 class="medium_bottom">Email</h5>
                    
                    <p>
                        <span data-key="contact_info">{{pieces.contact.contact_info}}</span><br>
                        <a href="{{pieces.contact.contact_link}}" data-link-key="contact_link"><span class="alternate">Contact.</span> <span data-key="contact_label">{{pieces.contact.contact_label}}</span></a><br>
                    </p>

                    <hr>
                </div>

                <div class="col col--3of12 col--medium--6of12 col--small--12of12 grid grid--guttered grid--right">
                    <div class="col"><a href="{{pieces.contact.facebook}}" data-link-key="facebook" target="_blank" class="a--thick_line"><svg class="icon-facebook"><use xlink:href="/build/images/icons.svg#icon-facebook"></use></svg></a></div>
                    <div class="col"><a href="{{pieces.contact.instagram}}" data-link-key="instagram" target="_blank" class="a--thick_line"><svg class="icon-instagram"><use xlink:href="/build/images/icons.svg#icon-instagram"></use></svg></a></div>
                    {# <div class="col"><a href="{{pieces.contact.linkedin}}" data-link-key="linkedin" target="_blank" class="a--thick_line"><svg class="icon-linkedin"><use xlink:href="/build/images/icons.svg#icon-linkedin"></use></svg></a></div> #}
                </div>

                
                <div class="col col--12of12 text_center" data-piece-admin></div>
            </nav>
            {% endblock %}
        </footer>




        <script src="https://cdn.jsdelivr.net/g/jquery@3.0.0-beta1(jquery.min.js),underscorejs@1.8.3,backbonejs@1.2.3,handlebarsjs@4.0.5,to-markdown@1.3.0,marked@0.3.5,velocity@1.2.3" data-turbolinks-eval="false"></script>
        {# <script src="//cdnjs.cloudflare.com/ajax/libs/turbolinks/5.0.0/turbolinks.min.js" async></script> #}


        <script data-turbolinks-eval="false">
            var pieces = {{pieces_json|safe}};
            var core_settings = {
                host: "{{request.url_root}}",
                api: window.location.origin+"/"{% if lang %},
                lang: "{{lang}}"{% endif %},
                lang_route: "{{lang_route}}"
            }
        </script>
        <script src="/build/templates.js" data-turbolinks-eval="false"></script>
        <script src="/build/app.js" data-turbolinks-eval="false"></script>



        {% block scripts %}{% endblock %}


        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-40301409-5', 'auto');
        ga('send', 'pageview');

        </script>

        {% if debugging %}
        <script src="//localhost:9000/livereload.js" async></script>
        {% endif %}

    </body>
</html>
